<div class="w3-light-grey w3-center w3-padding-24">
  No.
  <script type="text/javascript">
    var sc_project=12881779; 
    var sc_invisible=0; 
    var sc_security="9a565db4"; 
    var sc_https=1; 
    var scJsHost = "https://";
    document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
  </script> 
  Visitor Since May 2023. Powered by 
  <a href="https://www.w3schools.com/w3css/default.asp" 
     title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a>
  <noscript>
    <div class="statcounter">
      <a title="Web Analytics Made Easy - StatCounter" 
         href="https://statcounter.com/" target="_blank">
        <img class="statcounter" 
             src="https://c.statcounter.com/12881779/0/9a565db4/0/" 
             alt="Web Analytics Made Easy - StatCounter">
      </a>
    </div>
  </noscript>
</div>
